<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="#">MotivateMe!</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <% if user_signed_in? %>
                        <a href="/posts">TimeLine</a>
                    <% end %>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#contact">Try It Now!</a>
                </li>
                <li>
                    <a href="mailto:example@gmail.com?Subject=MotivateMe">Contact</a>
                </li>
                
                
            <% if user_signed_in? %>
                  <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-default navbar-btn" %>
                <% else %>
                  <%= link_to "Log In", new_user_session_path, class: "btn btn-default navbar-btn" %>
                  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default navbar-btn" %>
                <% end %>
                   
           
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>MotivateMe!</h1>
                    <h3>Help bring some motivational quotes into your life to boost confidence</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="#contact" class="btn btn-default btn-lg"><i></i> <span class="network-name">Try It Now!</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->


<div data-aos="fade-right">
<!-- Page Content -->

<a  name="services"></a>
<div class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Our Goal:<br>Happiness</h2>
                <p class="lead">With our software we are striving for innovation related to mental health. We can help bring positivity and motivation into peoples lives, which in turn will help decrese stress and negative thoughts, as well as increase mental health.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="/assets/johnson-wang-515995-unsplash.jpg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Why to care<br></h2>
                <p class="lead">Mental health is an issue that affects about 1 in 5 adults nationwide. That number increases to 1 in 4 when you narrow the demographics to college-aged adults. This is a huge issue all around the world that needs to be addressed and solves, this is the issue we are trying to tackle in our software.</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="/assets/sydney-sims-519706-unsplash.jpg" alt="">
            </div>
        </div>
        
         <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Our Project<br>And The Benefits</h2>
                <p class="lead">Our project MotivateMe gives users access to a variety of insirational and motivatiol quotes that they will receive thorughout the day on our GroupMe chat, they can also be members of a community of people who are also loooking for more positivity in their life. On this community users can post their teachings, and advice as well as any inspirational messeges they have. MotivateMe will help boost confidence, and influence happiness. </p>

            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="/assets/anthony-garand-504429-unsplash.jpg" alt="">
            </div>
        </div>

    </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->



<a  name="contact"></a>
<div class="banner">
    
    <div class="custom-container">
        
    <div class="text-wrapper">
        <div class="sentence"> Be added to our GroupMe</div>
        <div>for</div>
        <div class="rotating-words">
            <span> insirational quotes</span>
            <span> happiness</span>
            <span> motivation</span>
            <span> positivity</span>
            <span> a family</span>
        </div>
    </div>
    <a href="https://web.groupme.com/join_group/49776115/MUyHF36J" id="add-me-button" target = "_blank">Add Me</a>
    
    </div>
    <!-- /.container -->
    
<div class="row">
            <div class="col-lg-5 col-sm-6">
                <!--<hr class="section-heading-spacer">-->
                <div class="clearfix"></div>
                <h2 class="section-heading">Have Questions?</h2>
               
                <p class="lead">If you have any questions about MotivateMe feel free to <a id="email-link" href = "mailto:example@gmail.com?Subject=MotivateMe">email us</a></p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="" alt="">
            </div>
        </div>


</div>
<!-- /.banner -->



