.search > * {
    margin-bottom: 20px;
    background-color:white;
    border-radius:10px;
    padding-top:5px;
    padding-bottom:5px;
    height:5rem;
}
.search {
      padding:0 5%;
}
.searchbar {
    display:flex;
    justify-content:center;
    margin-bottom:20px;
}
.searchbar > * {
    margin-right: 10px;
}
#discover-title {
    text-align: center;
}
input[type="search"] {
    border-radius: 10px;
}