.w-100 > * {
    margin-bottom: 20px;
}
.w-100 {
      padding:0 5%;
}
.searchbar {
    display:flex;
    justify-content:center;
    margin-bottom:20px;
}
.searchbar > * {
    margin-right: 10px;
}
#discover-title {
    text-align: center;
}