<%# add navigation links to this file %>
   <li>
    <% if user_signed_in? %>
        <a href="/posts">TimeLine</a>
    <% end %>
    </li>
<li> 
    <% if user_signed_in? %>
        <%= link_to 'Discover', page_path('search') %>
    <% end %>

    </li>
